{% set bubble_color = "rouge" %}

<!DOCTYPE html>
<html lang="fr" class="bg-neutral-50 text-slate-900">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name="theme-color" content="#ffffff"/>

        <title>
            {% block title %}BUT MMI{% endblock %} - SAÉ 501
        </title>

        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/fonts.css">
        {% if NODE_ENV != "development" %}
            <link rel="stylesheet" href="/{{ manifest['style.css'].file }}"/>
        {% endif %}

        {% block head_tags %}
            <meta 
                name="description" 
                content="Bienvenue sur le site de présentation du Bachelor Universitaire de Technologie spécialité Métiers du Multimédia et de l'Internet, appellé également MMI."
            >
        {% endblock %}

        {% block styles %}{% endblock %}
        {% block javascript %}{% endblock %}

        {% if NODE_ENV == "development" %}
            <script type="module" src="/src/scripts/main.frontend.js" defer></script>
        {% else %}
            <script type="module" src="/{{ manifest['src/scripts/main.frontend.js'].file }}" defer></script>
        {% endif %}
    </head>
    <body class="mr-[max(env(safe-area-inset-right),_theme(space.4))] ml-[max(env(safe-area-inset-left),_theme(space.4))]">
        {% include "components/profiler.njk" %}
        
        {% include "components/front-end/navigation.njk" %}
        {% include "components/front-end/hero.njk" %}

        <main class="max-w-[1200px] mx-auto @container/main">
            {% block main %}{% endblock %}
        </main>
        
        <footer class="pied-de-page-principal conteneur-1280 py-6">
             

     <figure class="logo flex justify-center items-center mb-6">
    <img src="/images/logo-cyu-couleur.svg" alt="Logo CY Cergy Paris Université" class="max-w-full h-auto">
</figure>
    <ul class="flex justify-center space-x-6 mb-4">
        <li>
            <a aria-label="Ouverture dans un nouvel onglet" href="https://fr-fr.facebook.com/CYCergyParisUniversite/" title="Ouverture dans un nouvel onglet" target="_blank" class="text-blue-600 hover:underline">
                Facebook
            </a>
        </li>
        <li>
            <a aria-label="Ouverture dans un nouvel onglet" href="https://twitter.com/universitecergy?lang=fr" title="Ouverture dans un nouvel onglet" target="_blank" class="text-blue-600 hover:underline">
                Twitter
            </a>
        </li>
        <li>
            <a aria-label="Ouverture dans un nouvel onglet" href="https://fr-fr.facebook.com/CYCergyParisUniversite/" title="Ouverture dans un nouvel onglet" target="_blank" class="text-blue-600 hover:underline">
                Université CY Paris Université
            </a>
        </li>
    </ul>
    <p class="text-center text-sm">SAE 501 • © 2024 - BUT MMI - CY Paris Université - Site de Sarcelles</p>
</footer>

    </body>
</html>