{% extends "layouts/front-end/base.njk" %}

{% block title %}Contact
{% endblock %}
{% block main %}
<main>
    <form action="" method="" data-async-form>
        <div>
            <label for="lastname">Nom de famille :</label>
            <input type="text" id="lastname" name="lastname" required>
            <p data-error-message="lastname" class="hidden">Le nom de famille est requis.</p>
        </div>

        <div>
            <label for="firstname">Prénom :</label>
            <input type="text" id="firstname" name="firstname" required>
            <p data-error-message="firstname" class="hidden">Le prénom est requis.</p>
        </div>

        <div>
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
            <p data-error-message="email" class="hidden">L'email est invalide.</p>
        </div>

        <div>
            <label for="content">Message :</label>
            <textarea id="content" name="content" rows="5" required></textarea>
            <p data-error-message="content" class="hidden">Le message est requis.</p>
        </div>

        <button type="submit">Envoyer</button>
    </form>
</main>
{% endblock %}
