{% extends "layouts/back-end/base.njk" %}
{% set active_menu_item = "messages" %}
{% set using_asc = query_string_params.sorting == "asc" %}
{% set sort_param = "desc" if using_asc else "asc" %}
{% set sort_text = "Trier du plus récent au plus ancien" if using_asc else "Trier du plus ancien au plus récent" %}

{% block main %}
    <div class="bg-white rounded-2xl shadow-md p-6">
        <header class="flex justify-between flex-wrap gap-4 mb-4">
            <div>
                {% include "components/back-end/breadcrumb.njk" %}
                <h2 class="text-4xl font-semibold">Messages</h2>
            </div>
            <a href="{{ "?sorting=" ~ sort_param }}" class="flex gap-2 items-center bg-gray-100 hover:bg-gray-200 text-black rounded-lg px-4 py-2 text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    {% if using_asc %}
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
                    {% else %}
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
                    {% endif %}
                </svg>
                {{ sort_text }}
            </a>
        </header>

        {% if messages|length == 0 %}
            <p class="text-center text-gray-500 py-6">Aucun message disponible</p>
        {% else %}
            <table class="w-full border-collapse bg-white">
                <thead>
                    <tr class="text-gray-700 bg-gray-100">
                        <th class="px-6 py-3 text-left">Nom</th>
                        <th class="px-6 py-3 text-left hidden lg:table-cell">Prénom</th>
                        <th class="px-6 py-3 text-left">Email</th>
                        <th class="px-6 py-3 text-left">Message</th>
                        <th class="px-6 py-3 text-left">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr class="border-b hover:bg-gray-50">
                            <td class="px-6 py-3">{{ message.nom }}</td>
                            <td class="px-6 py-3 hidden lg:table-cell">{{ message.prenom }}</td>
                            <td class="px-6 py-3 text-blue-500 hover:underline">{{ message.email }}</td>
                            <td class="px-6 py-3">{{ message.message | truncate(50, true) }}</td>
                            <td class="px-6 py-3 text-gray-500 text-sm">{{ message.date | date("d/m/Y H:i") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}